.navbar-nav > li > a, .navbar-brand {
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.nav a {
  font-size: 12px !important;
  text-transform: none !important;
  font-weight: normal !important;
}
